---
import type { MainSection } from '@/types/sections/main-section.types';
import Photo from '@/components/photo.astro';
import Description from '@/pdf/components/description.astro';
import LabelledValue from '@/pdf/components/labelled-value.astro';
import TagsList from '@/web/components/tags-list.astro';
import Typography from '@/web/components/typography.astro';
import LinkButton from '@/web/components/link-button.astro';

export interface Props extends MainSection {}

const { image, fullName, role, details, pdfDetails, links, description, tags } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex gap-2">
    <Photo src={image} alt={fullName} class="h-40 max-h-[160px] w-40 max-w-[160px] rounded-2xl" />
  </div">
  <div class="w-full flex gap-6">
    <div>
    </div>
    <div>
      <div class="text-3xl font-extrabold text-gray-900">{fullName}</div>
      <div class="text-lg font-medium text-gray-700">{role}</div>
      <Description content={description} />
    </div>
  </div>
  <div>
    {
      links.length > 0 && (
        <div class="flex flex-wrap gap-3 sm:flex-nowrap">
          {links.map((link) => (
            <LinkButton {...link} />
          ))}
        </div>
      )
    }
  </div>
</div>
<div>
  <TagsList tags={tags} />
</div>
<div class="flex gap-4 sm:flex-col">
  <!--<DownloadButton {...action} />-->
  <span style="font-family: monospace, monospace; text-align: right;" class="text-base font-normal text-gray-500">
    Last update: 12 May 2025
  </span>
</div>